{% if request.async == true %}
    <link href="{{ 'css/form/checkbox.css' | asset_url }}" rel="stylesheet" />
    <script src="{{ 'js/form/checkbox.js' | asset_url }}"></script>
{% else %}
    {{ register_asset('css/form/checkbox.css') }}
    {{ register_asset('js/form/checkbox.js', { defer: false }) }}
{% endif %}

{% set placeholderText = 'partials.form.placeholder'|localize %}
{% set labelId = 'checkbox-label-' ~ random() %}

<div
    x-data="{ isInvalid: false, model: [], onCheckboxInputChange() {}, {% block data %}{% endblock %} }"
    {% if parentModel %}x-modelable="model"{% endif %}
    {% if isRequired %}aria-required="true"{% endif %}
    :aria-invalid="isInvalid"
    {% if hideLabel %}
        aria-describedby="{{ labelId }}"
    {% else %}
        :aria-describedby="isInvalid ? '{{ labelId }} {{ labelId }}__error' : '{{ labelId }}'"
    {% endif %}
    role="group"
    class="form-element form-checkbox--{{ variant|default('normal') }} form-checkbox--{{ size|default('medium') }} form-checkbox--{{ align|default('left') }} {% if showDivider %}form-checkbox--{{ variant|default('normal') }}-divider{% endif %} {{ checkboxClasses }}"
    :class="{'form-checkbox--invalid': isInvalid }"
>
    {% if hideLabel %}
        <span id="{{ labelId }}" hidden>{{ label }}</span>
    {% else %}
        {{ include('partials/form/element-label') }}
    {% endif %}

    <div class="form-checkbox__options">
        {% for option in options %}
            {% set optionId = 'checkbox-option-' ~ random() %}
            <label
                for="{{ optionId }}"
                x-data="checkboxForm('{{ option.value }}')"
                x-effect="updateCheckboxOption()"
                class="form-checkbox__option"
                :class="{'form-checkbox__option--disabled': isDisabled }"
                {% if showDivider %}
                    @mouseenter.debounce="onCheckboxOptionHover({{ loop.index0 }})"
                    @mouseleave.debounce="onCheckboxOptionBlur"
                {% endif %}
            >
                <input
                    id="{{ optionId }}"
                    x-model="{% if parentModel %}{{ parentModel }}{% else %}model{% endif %}"
                    type="checkbox"
                    value="{{ option.value }}"
                    class="form-checkbox__input"
                    :checked="model === '{{ option.value }}'"
                    :disabled="isDisabled"
                    {% if isRequired %}requsired{% endif %}
                    @change="onCheckboxInputChange('{{ option.value }}', model)"
                >
                <span class="form-checkbox__input-labels">
                    <span class="form-checkbox__input-label">
                        {{ option.label }}
                    </span>
                    {% if option.sublabel %}
                        <span class="form-checkbox__input-sublabel">
                            {{ option.sublabel }}
                        </span>
                    {% endif %}
                </span>
                {% if option.image.absolute_url %}
                    <span class="form-checkbox__input-image">
                        {{ include('partials/ui/image', { image: { uri: option.image.absolute_url, urls: option.image.absolute_urls }, imageSizes: [80], altText: option.name }) }}
                    </span>
                {% endif %}
            </label>
        {% endfor %}
    </div>
</div>