{% if request.async == true %}
    <link href="{{ 'css/form/donation.css' | asset_url }}" rel="stylesheet" />
    <script src="{{ 'js/form/donation.js' | asset_url }}"></script>
{% else %}
    {{ register_asset('css/form/donation.css') }}
    {{ register_asset('js/form/donation.js', { defer: false }) }}
{% endif %}

{% set donationCurrency = square.site.currency|default('USD') %}
{% set donationOptions = [] %}
{% set customOption = null %}
{% for choice in donationVariations %}
    {% if choice.price.regular.amount > 0 %}
        {% set formattedPrice = choice.price.regular.formatted %}
        {% set donationOptions = donationOptions|merge([{ label: formattedPrice, value: choice.id }]) %}
    {% else %}
        {% set customOption = choice %}
    {% endif %}
{% endfor %}

{% set donationFormDataId = 'donation-form-data-' ~ random() %}
<script id="{{ donationFormDataId }}" type="application/json">
    {{ { options: donationOptions }|json_encode }}
</script>

<div
    x-data="donationForm('{{ donationFormDataId }}')"
    :class="'form-element__donation form-element__donation--currency-' + $store.global.currencySymbolPosition"
>
    {% embed 'partials/form/choice' with {
        label: 'partials.form.donation.label'|localize,
        options: donationOptions,
        isRequired: true,
    } %}
        {% block data %}
            ...donationFormChoices(),
        {% endblock %}
        {% block customOption %}
            {% if customOption %}
                <label
                    x-ref="label"
                    for="choice-{{ random() }}"
                    class="form-choice__label"
                >
                    <span
                        class="form-choice__input-suffix"
                        x-text="$store.global.currencySymbol"
                    ></span>
                    <input
                        x-model="customValue"
                        type="number"
                        name="Custom amount"
                        placeholder="0"
                        class="form-choice__input"
                    >
                </label>
            {% endif %}
        {% endblock %}
    {% endembed %}
</div>