{% set isRowVariant = variant == 'row' %}

<div class="form-element__label {% if isRowVariant %}form-element__label--row{% endif %}">
    {% if isRowVariant %}
        <span class="form-element__label--primary">
            <span id="{{ labelId }}" aria-describedby="{{ labelId }}__sublabel">{{ label }}</span>
            {% if isRequired or isOptional %}
            <span class="form-element__label--secondary">
                {% if isRequired %}
                    {{ 'partials.form.required'|localize }}
                {% elseif isOptional %}
                    {{ 'partials.form.optional'|localize }}
                {% endif %}
            </span>
            {% endif %}
        </span>
        <span
            id="{{ labelId }}__sublabel"
            class="form-element__sublabel {% if hideSublabel %}visually-hidden{% endif %}"
        >
            {{ sublabel|default(placeholderText) }}
        </span>
    {% else %}
        <span id="{{ labelId }}" aria-describedby="{{ labelId }}__sublabel">{{ label }}</span>{% if hideSublabel == false %}:{% endif %}
        <span
            id="{{ labelId }}__sublabel"
            class="form-element__sublabel {% if hideSublabel %}visually-hidden{% endif %}"
            x-text="model || '{{ sublabel|default(placeholderText) }}'"
        ></span>
    {% endif %}

    {% if exludeError == false %}
        {{ include('partials/form/element-error') }}
    {% endif %}
</div>