{% if request.async == true %}
    <link href="{{ 'css/form/select.css' | asset_url }}" rel="stylesheet" />
{% else %}
    {{ register_asset('css/form/select.css') }}
{% endif %}

{% set placeholderText = 'partials.form.placeholder'|localize %}
{% set labelId = 'select-label-' ~ random() %}

<div
    x-data="{ isDisabled: false, isInvalid: false, model: '', {% block data %}{% endblock %} }"
    {% if parentModel %}x-modelable="model"{% endif %}
    {% if isRequired %}aria-required=true{% endif %}
    :aria-invalid="isInvalid"
    :aria-describedby="isInvalid ? '{{ labelId }} {{ labelId }}__error' : '{{ labelId }}'"
    role="radiogroup"
    class="form-element form-select form-select--{{ size|default('large') }}"
    :class="{'form-select--invalid': isInvalid }"
>
    {% if hideLabel %}
        <span id="{{ labelId }}" hidden>{{ label }}</span>
    {% else %}
        {{ include('partials/form/element-label', { exludeError: true }) }}
        {% block secondaryLabel %}{% endblock %}
    {% endif %}

    <div class="form-select__dropdown-wrapper">
        <div
            class="form-select__icon"
        >
            {{ include('partials/ui/icon', { name: 'expand_more' }) }}
        </div>
        <select
            aria-label="{{ label }}"
            x-model="{% if parentModel %}{{ parentModel }}{% else %}model{% endif %}"
            class="form-select__dropdown"
            :disabled="isDisabled"
            {% if isRequired %}required{% endif %}
        >
            <option value="" selected disabled>{{ placeholderText }}</option>
            {% for option in options %}
                <option
                    value="{{ option.value }}"
                    :selected="model === '{{ option.value }}'"
                    :disabled="disabledChoices?.includes('{{ option.value }}')"
                >
                    {{ option.label }}
                </option>
            {% endfor %}
        </select>
        {{ include('partials/form/element-error') }}
    </div>
</div>
