<div
    x-show="$store.dialog.isHeaderVisible"
    class="ui-dialog__header"
    :class="{ 'ui-dialog__header--close-visible': $store.dialog.currentDialogOptions().showCloseButton }"
>
    <div
        x-show="$store.dialog.currentDialogOptions().showCloseButton"
        class="ui-dialog__header-close"
    >
        {{ include('partials/ui/button', { variant: 'secondary', style: 'fill', icon: 'close', iconAlt: 'partials.ui.dialog.close_icon_alt'|localize, action: '$store.dialog.closeDialog()' }) }}
    </div>
    <h5
        id="{{ dialogId }}__title"
        class="heading-5 ui-dialog__title"
        x-show="!$store.dialog.isButtonVisibleInHeader()"
        x-html="$store.dialog.dialogHeading"
    ></h5>
    <div
        x-show="$store.dialog.isButtonVisibleInHeader()"
        class="ui-dialog__header-buttons"
    >
        {{ include('partials/ui/dialog-buttons') }}
    </div>
</div>
{# Content #}
<div
    class="ui-dialog__content-wrapper"
    :class="{ 'ui-dialog__content-wrapper--scrollbar': $store.dialog.currentDialogOptions().scrollable || $store.dialog.isMultiPane }"
>
    <div
        id="{{ dialogId }}__content"
        class="ui-dialog__content"
        :class="{ 'custom-scrollbar': $store.dialog.currentDialogOptions().scrollable || $store.dialog.isMultiPane }"
    >
        <div
            :class="{ 'custom-scrollbar-inner': $store.dialog.currentDialogOptions().scrollable || $store.dialog.isMultiPane }"
            x-ref="dialogContent"
        ></div>
    </div>
</div>
{# Footer buttons #}
<div x-show="$store.dialog.isFooterVisible" class="ui-dialog__footer">
    {{ include('partials/ui/dialog-buttons') }}
</div>