{% if request.async == true %}
    <link href="{{ 'css/ui/image.css' | asset_url }}" rel="stylesheet" />
{% else %}
    {{ register_asset('css/ui/image.css') }}
{% endif %}

{% set srcSet = [] %}
{% set defaultImageSizes = { xs: 600, sm: 900, md: 1200 } %}
{% set xs = imageSizes.xs|default(defaultImageSizes.xs) %}
{% set sm = imageSizes.sm|default(imageSizes.xs)|default(defaultImageSizes.sm) %}
{% set md = imageSizes.md|default(imageSizes.sm)|default(imageSizes.xs)|default(defaultImageSizes.md) %}
{% set lg = imageSizes.lg|default(md) %}
{% set sizes = [
    '(max-width: 599px) ' ~ xs ~ 'px',
    '(max-width: 839px) ' ~ sm ~ 'px',
    '(max-width: 1199px) ' ~ md ~ 'px',
    '(max-width: 1599px) ' ~ lg ~ 'px',
] %}
{% for key, url in image.urls %}
    {% set dpr = '' %}
    {% if image.format != 'spin' %}
        {% set dpr = '&dpr=2' %}
    {% endif %}
    {% set srcSet = srcSet|merge([url ~ dpr ~ ' ' ~ key ~ 'w']) %}
{% endfor %}

{% if showPlaceholder %}
<figure
    x-data="{ isLoadingImage: true, isFailedToLoad: false, shouldLoadImages: false, onLoadSuccess() { this.isLoadingImage = false, this.onLoadComplete('{{ image.uri|default(image.urls|first) }}') }, onLoadError() { this.isFailedToLoad = true, this.isLoadingImage = false, this.onLoadComplete('{{ image.uri|default(image.urls|first) }}') }, onLoadComplete() {}, {% block data %}{% endblock %} }"
    x-intersect="shouldLoadImages = true"
    {% block attributes %}{% endblock %}
>
    <template x-if="shouldLoadImages">
        <img
            x-init="$watch('isFailedToLoad', () => $el.style.display = 'none')"
            src="{{ image.uri }}"
            srcset="{{ srcSet|join(', ') }}"
            sizes="{{ sizes|join(', ') }}, {{ lg }}px"
            alt="{{ altText }}"
            x-bind:onload="onLoadSuccess"
            @error="onLoadError"
        />
    </template>
    <template x-if="isLoadingImage || isFailedToLoad || !shouldLoadImages">
        {% embed 'partials/ui/placeholder' %}
                {% block data %}
                    isLoading: !shouldLoadImages,
                    init() {
                        this.$watch('isLoadingImage', (isLoading) => {
                            this.isLoading = isLoading;
                        });
                        this.$watch('shouldLoadImages', (shouldLoad) => {
                            this.isLoading = !shouldLoad;
                        });
                    },
                {% endblock %}
        {% endembed %}
    </template>
</figure>
{% else %}
<span
    x-data="{ shouldLoadImages: false }"
    x-intersect="shouldLoadImages = true"
    class="ui-image-wrapper"
>
    <template x-if="!shouldLoadImages">
        {% embed 'partials/ui/placeholder' %}
                {% block data %}
                    isLoading: true,
                {% endblock %}
        {% endembed %}
    </template>
    <template x-if="shouldLoadImages">
        <img
            src="{{ image.uri }}"
            srcset="{{ srcSet|join(', ') }}"
            sizes="{{ sizes|join(', ') }}, {{ lg }}px"
            alt="{{ altText }}"
            {% if loadCallback %}x-bind:onload="{{ loadCallback }}"{% endif %}
            {% if errorCallback %}@error="{{ errorCallback }}"{% endif %}
        />
    </template>
</span>
{% endif %}