{% if request.async == true %}
    <link href="{{ 'css/ui/flyout.css' | asset_url }}" rel="stylesheet" />
    <script src="{{ 'js/ui/flyout.js' | asset_url }}"/>
    <link href="{{ 'css/components/mobile-menu.css' | asset_url }}" rel="stylesheet" />
    <script src="{{ 'js/components/mobile-menu.js' | asset_url }}"/>
{% else %}
    {{ register_asset('css/ui/flyout.css') }}
    {{ register_asset('js/ui/flyout.js', { defer: false }) }}
    {{ register_asset('css/components/mobile-menu.css') }}
    {{ register_asset('js/components/mobile-menu.js', { defer: false }) }}
{% endif %}

{% if nav_links is not defined or nav_links is empty %}
    {% set nav_links = config.header.placeholder_nav_links %}
{% endif %}

<div
    x-data="mobileMenu('nav-links-data')"
    class="drawer"
    :class="classes"
    :flyout-name="flyoutName"
    x-cloak
    x-trap.inert="$store.flyout.activeFlyout === 'mobile-menu'"
>
    <div class="drawer__inner">
        <div class="mobile-menu">
            {{ include("partials/ui/mobile-menu-inner", { nav_links }) }}
        </div>
    </div>
</div>
