{% if request.async == true %}
    <link href="{{ 'css/ui/price.css' | asset_url }}" rel="stylesheet" />
{% else %}
    {{ register_asset('css/ui/price.css') }}
{% endif %}

{% set regularPrice = price.regular_high %}
{% set finalPrice = price.regular_low %}
{% set productVariations = variations|default([]) %}

{% if regularPrice.amount != 0 and finalPrice.amount != 0 %}

    {% if productVariations|length == 1 and productVariations[0].price.regular.amount and productVariations[0].price.sale.amount %}
        {% set regularPrice = productVariations[0].price.regular %}
        {% set finalPrice = productVariations[0].price.sale %}
    {% endif %}

    {% set isPriceRange = productVariations|length > 1 %}
    {% set formattedRegularPrice = regularPrice.formatted %}
    {% set formattedFinalPrice = finalPrice.formatted %}
    
    {% set isOnSale = formattedRegularPrice != formattedFinalPrice %}

    {% if isPriceRange %}
        {% set isOnSale = price.high.amount != price.regular_high.amount or price.low.amount != price.regular_low.amount %}
        {% if isOnSale %}
            {% if regularPrice != finalPrice %}
                {% set formattedRegularPrice = finalPrice.formatted ~ ' - ' ~ regularPrice.formatted %}
            {% else %}
                {% set formattedRegularPrice = finalPrice.formatted %}
            {% endif %}
            {% set formattedFinalPrice = price.low.formatted ~ ' - ' ~ price.high.formatted %}
        {% else %}
            {% if regularPrice != finalPrice %}
                {% set formattedFinalPrice = finalPrice.formatted ~ ' - ' ~ regularPrice.formatted %}
            {% else %}
                {% set formattedFinalPrice = finalPrice.formatted %}
            {% endif %}
        {% endif %}
    {% endif %}

    <div class="ui-price ui-price--{{ size|default('normal') }} {% if isPriceRange %}ui-price__range{% endif %}">
        {% if isOnSale %}
            <div x-ref="regularPrice" class="ui-price__regular">
                {{ formattedRegularPrice }}
            </div>
            <div x-ref="finalPrice" class="ui-price__final" aria-live="polite">
                {{ formattedFinalPrice }}
            </div>
        {% else %}
            <div x-ref="finalPrice" class="ui-price ui-price--{{ size|default('normal') }}" aria-live="polite">
                {{ formattedFinalPrice }}
            </div>
        {% endif %}
        {% if secondaryText %}
            {% if isPriceRange and isOnSale %}
            <div class="ui-price__row-break"></div>
            {% endif %}
            <div class="ui-price__extra {% if isPriceRange and isOnSale %}ui-price__extra--hide-divider{% endif %}">{{ secondaryText }}</div>
        {% endif %}
    </div>

{% endif %}

{% schema %}
{
    "price": {
        "type": "array"
    },
    "variations": {
        "type": "array",
        "optional": true
    },
    "secondaryText": {
        "type": "string",
        "optional": true
    },
    "size": {
        "type": "string",
        "optional": true
    }
}
{% endschema %}