{% if request.async == true %}
    <link href="{{ 'css/ui/row.css' | asset_url }}" rel="stylesheet" onload="document.dispatchEvent(new CustomEvent('asset:ready'))" />
{% else %}
    {{ register_asset('css/ui/row.css') }}
{% endif %}

<div class="ui-row {{ rowClasses }}" {% block attributes %}{% endblock %}>
    {% if icon %}
        {{ include('partials/ui/icon', { name: icon, iconClasses: 'ui-row__icon' }) }}
    {% endif %}
    <div class="ui-row__label">
        <div>
            {% block title %}{% endblock %}
        </div>
        {% if block('text') %}
        <div class="ui-row__sublabel">
            {% block text %}{% endblock %}
        </div>
        {% endif %}
    </div>
    {% if block('side') %}
        <span class="ui-row__side">
            {% block side %}{% endblock %}
        </span>
    {% endif %}
    {% if button %}
    <div class="ui-row__button">
        {{ include('partials/ui/button', { variant: 'text', size: 'small', label: button, icon: '', ariaRole, }) }}
    </div>
    {% endif %}
</div>
